.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.user-box, .user-content{
    background-color:#e0e0d1;
    height: 70px; 
    border: 1px solid black;  
}
.mine-box span{
    font-size: 20px;
    font-weight: 700;
}
.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-img{
    width: 50px;
    display: inline-block;
}
.user-box img, .user-chat img{
    width: 100%;
    border-radius: 50px;
}
/*SEZIONE NOTIFICHE*/
.alert-box i{
   font-size: 20px;
   border: 1px solid white;
   padding: 10px;
   background-color: white;
   border-radius: 50%;
   color:#4dffff ;
   
}
.alert-box{
    background-color:#4dffff;
    height: 80px;

}

.alert-box span{
    font-size: 10px;
    display: inline-block;
}
a{
    text-decoration: none;
}
.main{
    background-image: url(../img/mine.jpg) ;
    border: 1px solid black;
}
.user-chat{
    display: flex;
   align-items: flex-start;

  
}
.chat-box{
    background-color: white;
    height: 80px;
}