.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.user-box, .user-content{
    background-color:#dddbd1;
    height: 70px; 
    border: 1px solid black;  
}
.mine-box span{
    font-size: 20px;
    font-weight: 500;
}
.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-img{
    width: 50px;
    display: inline-block;
}
.user-box img, .user-chat img{
    width: 100%;
    border-radius: 50px;
}
/*SEZIONE NOTIFICHE*/
.alert-box i{
   font-size: 20px;
   border: 1px solid white;
   padding: 10px;
   background-color: white;
   border-radius: 50%;
   color:#aadaff ;
   
}
.alert-box{
    background-color: #aadaff;
    height: 80px;
}

.alert-box span{
    font-size: 15px;
    display: block;
}
#notification{
    font-weight: 700;
}
a{
    color: black;
}
/* end sezione notifiche*/
.search-box input{
    border: none;
    width: 90%;
}
.search-box{
    border: 1px solid grey;
    border-radius: 5px;
    
}
.user-chat span{
    display: inline-block;
    
}
.second-icon-box{
    display: flex;
    justify-content: space-around;
}
.main{
    background-image: url(../img/mine.jpg) ;
    border: 1px solid black;
    position: relative;
}

.chat-box{
    background-color:#dddbd1 ;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.message input{
    width: 100%;
    border-radius: 3px;
}