
.background{
    background: rgb(66,148,136);
    background: linear-gradient(180deg, rgba(66,148,136,1) 20%, rgba(219,219,211,1) 20%);
    background-repeat:no-repeat;
    height: 100vh;
}
.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    background-color: white;
}
/*box per immagine user e icone  (top-sidebar)*/
.user-box, .user-content{
    background-color:#dddbd1; 
    height: 60px;
}

.mine-box span{
    font-size: 20px;
    font-weight: 500;
}
.icon-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-img{
    width: 50px;
    display: inline-block;
}
/*tutti gli avatar*/
.user-box img, .user-chat img, .contacts-list img{
    width: 100%;
    border-radius: 50px;
}
/*SEZIONE NOTIFICHE (central sidebar)*/
.alert-box{
    background-color: #aadaff;
    display: flex;
    flex-direction: column;
    height: 70px; 
}
.alert-box i{
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    color:#aadaff; 
 }
 
 .alert-box span{
     font-size: 15px;
     display: block;
 }
 #notification{
     font-weight: 700;
 }
 a{
     color: black;
 }
 /* end sezione notifiche*/
 .search-box input{
    border: none;
    width: 90%;
    outline: none;
}
.search-box{
    border: 1px solid grey;
    border-radius: 5px;  
}
/*sezione lista conatti*/
.contacts-list li{
    list-style: none;
    border: 1px solid grey;
    border-radius: 3px;
    
}
.contacts-list img{
    width:50px;
    margin: 10px;
    
}
.chat-with-you{
    cursor: pointer;
}
.contacts-list ul{
    padding: 0;
    margin-top: 10px;
}
.contacts-list{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 300px;
    overflow-y:scroll;
}

.user-chat span{
    display: inline-block;
    
}
.second-icon-box{
    display: flex;
    justify-content: space-around;
}
/* BOX CHAT */

.main{
    background-image: url(../img/mine.jpg) ;
    border: 1px solid black;
    position:sticky; 
    height: calc(100vh- 90px);
  
}
.main-content{
    overflow-y:scroll;
    height: 500px;
    display: flex;
    flex-direction: column;
}


.message-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}
.sentMessage{
    width: 50%;
    background-color:lightgreen;
    height: 50px;
    border-radius: 10px;
    align-self:flex-end;
    margin-top: 20px;
    padding: 10px; 
}
.receivedMessage{
    width: 50%;
    background-color:white;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;    
}
.date-time{
    font-size: 10px;
    text-align: right;
}
/* SEZIONE INPUT CHAT */
.chat-box{
    background-color:#dddbd1 ;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    
}
.chat-box i{
    font-size: 20px;
}
.message input{
    width: 100%;
    border-radius: 30px;
    outline: none;
}